<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Kurs erstellen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
          <mat-form-field class="full-width">
            <input matInput placeholder="LVA Name" formControlName="lvaName" required>
          </mat-form-field>
      </div>
        <div class=""row>
          <mat-form-field class="full-width">
            <input matInput placeholder="Vortragender" formControlName="lvaTeacher" required>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="LVA-Nummer" formControlName="lvaNumber" required>
            </mat-form-field>
          </div>
          <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Lva-Typ" formControlName="lvaType" required>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Raum" formControlName="lvaRoom" required>
          </mat-form-field>
        </div>
        </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Institut" formControlName="lvaInstitute" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Prüfungstermin" formControlName="lvaExam">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ECTS" type="number" formControlName="lvaEcts" required>
          </mat-form-field>
        </div>
      </div>

      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
